{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<!-- Edit profile page -->

<div class="edit-background"
    style="background: url('/static/images/edit.jpg') no-repeat center center; background-size: cover;">

    <!-- Centered Form Container -->
    <div class="edit-form-container">
        <h2>Edit Profile</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-field") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-field") }}
            </div>
            <div class="form-group">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-field") }}
            </div>
            <div class="form-group">
                {{ form.image_url.label(class="form-label") }}
                {{ form.image_url(class="form-field") }}
            </div>
            <button type="submit" class="update-btn">Update Profile</button>
        </form>
    </div>
</div>
{% endblock %}